body {
    margin-top: 70px;
}

.container {
    width: 960px;
}

.mg-l-5 {
    margin-left: 5px;
}

.mg-b-10 {
    margin-bottom: 20px;
}

.media {
    border-bottom: 1px solid #f0f0f0;
}

.user-detail .media{
    border-bottom: 0;
}

.media-body {
    width: 880px;
}

.index .media .media-count,
.topic-detail .topic-message,
.topic-list .media .media-count{
    color: rgba(128, 128, 128, 0.74);
    font-size: 13px;
}

.index .media .media-heading .label,
.topic-detail .page-header .label {
    font-size: 10px;
    display: inline-block;
    padding: 5px 10px;
    vertical-align: middle;
}

.topic-detail .reply-date {
    font-size: 10px;
    color: rgba(128, 128, 128, 0.74);
}

.gray {
    color: rgba(128, 128, 128, 0.74);
    font-size: 13px;
}

.footer{
    padding: 30px 0;
}

.markdown-text img {
    display: block;
    width: auto \9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.markdown-text p, .preview p {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    line-height: 2em;
    margin: 1em 0;
}