body {
    margin-top: 60px;
}

.container {
    width: 960px;
}

.home-wrapper img {
    width: 40px;
    height: 40px;
}

.home-wrapper label {
    position: relative;
    top: -3px;
    margin-right: 4px;
    font-size: 65%;
}